<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"site-main","layout":{"type":"constrained","contentSize":"62.5rem","wideSize":"62.5rem"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"className":"sidebar-layout","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
<div class="wp-block-group sidebar-layout"><!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"},"margin":{"bottom":"var:preset|spacing|70"}},"border":{"bottom":{"width":"1px"}}},"layout":{"type":"default"}} -->
<article class="wp-block-group" style="border-bottom-width:1px;margin-bottom:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content /--></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","tagName":"aside","area":"uncategorized","className":"site-sidebar"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->